{% extends 'base.html.twig' %}

{% block title %}Hello ActionsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Students:</h1>
    {% for student in students %}
    <ul>
        <a href="{{ path('actions_promote', {'studentid': student.id }) }}">{{ student.name }} {{ student.surname }}</a>
    </ul>
    {% endfor %}
</div>
{% endblock %}
