{% extends 'base.html.twig' %}

{% block title %}Hello ActionsController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {% for teacher in teachers %}
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('images/panda.png') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ teacher }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{{ path('booking_calendar', {'id': teacher.id}) }}" class="btn btn-primary">Go to calendar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}