{% extends 'base.html.twig' %}

{% block title %}Hello ActionsController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>BeginAt</th>
                        <th>EndAt</th>
                        <th>Title</th>
                        <th>Student</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.id }}</td>
                                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ booking.title }}</td>
                                <td>{{ booking.student }}</td>
                                <td>
                                    <a href="{{ path('confirm_booking', {'id': booking.id}) }}">accept</a>
                                    <a href="{{ path('booking_delete', {'id': booking.id}) }}">reject</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}