{% extends 'base.html.twig' %}

{% block title %} Zoom Meeting {% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            {% dump(zoomMeeting) %}
        </div>
    </div>

{% endblock %}