<style>
    .nav-item{
        font-size: xx-large;
    }
    ul.nav{
        border: solid;
        border-color: #3035ff;
    }
</style>

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('booking_new') }}">Booking</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('teacher_inbox') }}">Inbox</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('show_teachers') }}">Teachers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('zoom_meeting') }}">Zoom</a>
    </li>
    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ app.user }}</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
    {% endif %}
</ul>